matplotlib==3.5.0
numpy==1.20.3
pandas==1.3.4
plotly==5.1.0
scipy==1.7.1
seaborn==0.11.2
setuptools==62.1.0
termcolor==1.1.0
attrs==21.2.0
attr==0.3.1
openpyxl==3.0.10
statannotations==0.4.4
statsmodels==0.12.2 